<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Edit Your Profile Data</h1>
    </div>
  </div>

<div class="row" *ngIf="user">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">
            <form (submit)="onEditSubmit()">

              <div class="form-group">
                <label>Email</label>
                <input type="text" [(ngModel)]="user.email" name="email" class="form-control" >
              </div>

              <div class="form-group">
                <label>Name</label>
                <input type="text" [(ngModel)]="user.fullName" name="fullName" class="form-control" >
              </div>

              <div class="form-group">
                <label>Address</label>
                <input type="text" [(ngModel)]="user.address" name="address" class="form-control" >
              </div>

              <div class="form-group">
                <label>Place of Birth</label>
                <input type="text" [(ngModel)] = "user.placeBirth" name="placeBirth" class="form-control">
              </div>

              <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" [(ngModel)] = "user.dateBirth" name="dateBirth" class="form-control">
              </div>

              <div class="form-group">
                <label>Phone Number</label>
                <input type="text" [(ngModel)]="user.phoneNumber" name="phoneNumber" class="form-control" >
              </div>

              <div class="form-group">
                <label>User Code</label>
                <input type="text" [(ngModel)]="user.adminCode" name="adminCode" class="form-control" disabled>
              </div>

              <div class="form-group">
                <label>Gender</label>
                <select class="form-control" [(ngModel)]="gendersel" name="gendersel">
                  <option *ngFor="let gend of genderList;" [value]="gend.name">{{gend.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label>Religion</label>
                <select class="form-control" [(ngModel)]="religionsel" name="religionsel">
                  <option *ngFor="let relig of religionList;" [value]="relig.name">{{relig.name}}</option>
                </select>
              </div>

              <input type="submit" class="btn btn-primary" name="btnSubmit" value="Submit">

              <input type="submit" class="btn btn-primary" value="Back" (click)="goBackMenu()">

            </form>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
